Python Basics Variable

1. Write a program to reverse a string.

In [1]:
s1=input("Enter the string to be revered:")
s1=s1[::-1]
print("The reversed string is:", s1)

Enter the string to be revered: Hello

The reversed string is: olleH

2. Check if a string is a palindrome.

In [2]:
s2=input("Enter the string to check for Palindrome:")
s2=s2.lower()
s2=s2.replace(" ", "" )
Palindrome=s2[::-1]
print("The string is Palindrome" if Palindrome==s2 else "The string is not Palindrome")

Enter the string to check for Palindrome: hello

The string is not Palindrome

3. Convert a string to uppercase.

In [3]:
s3=input("Enter the string to be changed to Upper Case:")
s3=s3.upper()
print(s3)

Enter the string to be changed to Upper Case: hello

HELLO

4. Convert a string to lowercase.

In [4]:
s3=input("Enter the string to be changed to Upper Case:")
s3=s3.lower()
print(s3)

Enter the string to be changed to Upper Case: hello

hello

5. Count the number of vowels in a string.

In [5]:
Sentence=input("Enter the sentence:")  #Enter the sentence as input
Sentence=Sentence.lower()        #Convert the sentence to lowercase
a=Sentence.count("a")            #Count the vowels
e=Sentence.count("e")
i=Sentence.count("i")
o=Sentence.count("o")
u=Sentence.count("u")
Vowels=sum([a,e,i,o,u])          #add the total number of vowels 
print(Vowels)                    #display the results

Enter the sentence: hello

2

6. Count the number of consonants in a string.

In [6]:
Sentence=input("Enter the sentence:")  #Enter the sentence as input
Sentence=Sentence.lower()  #Convert the sentence to lowercase
Sentence=Sentence.replace(" ", "")
a=Sentence.count("a")            #Count the vowels
e=Sentence.count("e")
i=Sentence.count("i")
o=Sentence.count("o")
u=Sentence.count("u")
Vowels=sum([a,e,i,o,u])  
cp=len(Sentence) 
vc=cp-Vowels
print(vc)                    #display the results

Enter the sentence: hello

3

7. Remove all whitespaces from a string.

In [7]:
s7=input("Enter the string from which the whitespaces needs to be removed:")
s7=s7.replace(" ", "")
print(s7)

Enter the string from which the whitespaces needs to be removed: hello

hello

8. Find the length of a string without using the `len()` function.

In [2]:
Input_string=input()
Input_string=Input_string.replace(" ","")
count=0
for char in Input_string:
    count+= 1
print(count)

 I am learning Python

17

9. Check if a string contains a specific word.

In [6]:
input_string=input()
specific_word=input()
if specific_word in input_string:
    print("The string contains the word",specific_word )
else:
    print("The string does not contain the word",specific_word)

 It's great learning Python
 great

The string contains the word great

10. Replace a word in a string with another word.

In [8]:
s10=input("Enter the sentence")
old_word=input("Enter the old word")
new_word=input("Enter the new word")
st10=s10.replace(old_word, new_word)
print(st10)

Enter the sentence hello
Enter the old word hello
Enter the new word hello

hello

11. Count the occurrences of a word in a string.

In [8]:
Inpit_string=input("Enter the string")
target_word=input("Enter the Word")
Inpit_string=Inpit_string.split()
def check_the_words(Inpit_string,target_word):
    word_count=0
    for word in Inpit_string:
        if word == target_word:
            word_count+=1
    return word_count
result=check_the_words(Inpit_string,target_word)
print("The word appears",result,"times")

Enter the string same word or phrase over and over again in a piece of writing or speech
Enter the Word over

The word appers 2 times

12. Find the first occurrence of a word in a string.

In [5]:
sentence=input("Enter the sentence")
word=input("Enter the word")
index=sentence.find(word)
if index== -1:
    print("Not found")
else:
    print(index)

Enter the sentence This is an example sentence. This sentence contains the word example
Enter the word example

11

13. Find the last occurrence of a word in a string.

In [8]:
sentence=input("Enter the sentence")
word=input("Enter the word")
index=sentence.rfind(word)
if index== -1:
    print("Not found")
else:
    print(index)

Enter the sentence This is an example sentence. This sentence contains the word example
Enter the word example

61

14. Split a string into a list of words.

In [4]:
s14=input("Enter the sentence:")
st14=s14.split()
print("List of words:", st14)

Enter the sentence: How are you

List of words: ['How', 'are', 'you']

15. Join a list of words into a string.

In [15]:
def join_the_words(*words):
    for j in words:
        print(j, end=" ")

In [16]:
join_the_words("This", "is", "an", "example", "sentence.")

This is an example sentence.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [10]:
s16=input("Enter the string")
st16=s16.replace(" ", "_")
print("New String:", st16)

Enter the string hello

New String: hello

17. Check if a string starts with a specific word or phrase.

In [21]:
def check_if_starts_with(sentence, phrase):
    x=sentence.startswith(phrase)
    if x==True:
        print("The text starts with the prefix.")
    else:
        print("The text doesn't start with the prefix.")

In [22]:
check_if_starts_with("Hello, world!","Hello")

The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [24]:
def check_if_ends_with(sentence, phrase):
    x=sentence.endswith(phrase)
    if x==True:
        print("The text ends with the phrase.")
    else:
        print("The text doesn't ends with the phrase.")

In [27]:
check_if_ends_with("Hello, world","world")

The text ends with the phrase.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [11]:
s19=input("Enter the string:")
st19=s19.title()
print(st19)

Enter the string: hello

Hello

20. Find the longest word in a string.

In [29]:
def longest_word(sentence):
    words=sentence.split()
    longest_word=""
    max_length=0
    for w in words:
        if len(w)>max_length:
            max_length=len(w)
            longest_word=w
    return longest_word

In [30]:
longest_word("This is an example sentence with some long words.")

'sentence'

21. Find the shortest word in a string.

In [31]:
def shortest_word(sentence):
    words=sentence.split()
    min_length=100
    shortest_word=""
    for w in words:
        if len(w)<min_length:
            min_length=len(w)
            shortest_word=w
    return shortest_word

In [32]:
shortest_word("This is an example sentence with some long words.")

'is'

22. Reverse the order of words in a string.

In [44]:
def reverse_words(a):
    a=a.split()
    a=a[::-1]
    reversed_string=" ".join(a)
    return reversed_string

In [45]:
reverse_words("This is an example sentence with some long words")

'words long some with sentence example an is This'

23. Check if a string is alphanumeric.

In [13]:
def alphanumeric_string(text):
    ans=text.isalnum()
    if ans==True:
        print("The text is alphanumeric")
    else:
        print("The text is not alphanueric")

In [14]:
alphanumeric_string("*^*")

The text is not alphanueric

24. Extract all digits from a string.

In [17]:
def extract_digits(text):
    digits=""
    for char in text:
        if char.isdigit():
            digits += char
    return digits

In [18]:
extract_digits("Hello123World456")

'123456'

25. Extract all alphabets from a string.

In [29]:
def extract_alph(text):
    alphs=""
    for char in text:
        if char.isalpha():
            alphs += char
    return alphs

In [30]:
extract_alph("Hello123World456")

'HelloWorld'

26. Count the number of uppercase letters in a string.

In [39]:
def upper_case(text):
    upp_case=""
    upper=""
    for u in text:
        if u.isupper():
            upper += u
            upp_case=len(upper)
    return upp_case

In [40]:
upper_case("HelloWORLD")

6

27. Count the number of lowercase letters in a string.

In [37]:
def lower_case(text):
    low_case=""
    lower=""
    for u in text:
        if u.islower():
            lower += u
            low_case = len(lower)
    return low_case

In [38]:
lower_case("HelloWORLD")

4

28. Swap the case of each character in a string.

In [43]:
def swap_case(text):
    swapped = text.swapcase()
    return swapped

In [44]:
swap_case("HelloWORLD")

'hELLOworld'

29. Remove a specific word from a string.

In [73]:
def remove_word(string,word_to_exclude):
    filtered_words=[]
    string=string.lower()
    string=string.split()
    for s in string:
          if s != word_to_exclude.lower():
              filtered_words.append(s)
    modified_string=" ".join(filtered_words)
    return modified_string

In [74]:
remove_word("Hello world welcome to the world of programming","world")

'hello welcome to the of programming'

30. Check if a string is a valid email address.

In [82]:
Mail=input("Enter your E-Mail:")
if "@" and ".com" in Mail:
    print("The E-mail address is valid")
    
else:
    print("The E-mail address is not valid")

Enter your E-Mail: dfgb@klwj.com

The E-mail address is valid

31. Extract the username from an email address string.

In [84]:
Email=input("Enter the E-Mail to get the username:")
Username=Email.split('@')[0]
print("The user name is:",Username)

Enter the E-Mail to get the username: sgb@sdngvbin.com

The user name is: sgb

32. Extract the domain name from an email address string.

In [85]:
Email=input("Enter the E-Mail to get the domain:")
Domain=Email.split('@')[1]
print("The Domain name is:",Domain)

Enter the E-Mail to get the domain: sdbjvgb@skn.com

The Domain name is: skn.com

33. Replace multiple spaces in a string with a single space.

In [86]:
def multispace_string(input):
    cleaned_string=' '.join(input.split())
    return cleaned_string

In [87]:
 multispace_string("Hello     world!   How   are   you?")

'Hello world! How are you?'

34. Check if a string is a valid URL.

In [20]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

is_valid_url("https://www.example.com")

True

35. Extract the protocol (http or https) from a URL string.

In [16]:
def check_substring(url):
    index = url.find("://")
    if index != -1:
        protocol = url[:index]
        return protocol 
    else:
        return None

check_substring("https://www.google.co.in/")

'https'

36. Find the frequency of each character in a string.

In [20]:
def find_frequency(a):
    f={}
    for char in a:
        if char in f:
            f[char] =f[char] + 1
        else:
            f[char] = 1
    return f

find_frequency("Hello World")

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

37. Remove all punctuation from a string.

In [22]:
import string
def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

remove_punctuation("Hello, world! How's it going?")

'Hello world Hows it going'

38. Check if a string contains only digits.

In [3]:
def only_digits(a):
    return a.isdigit()


only_digits("1235464")

True

39. Check if a string contains only alphabets.

In [5]:
def only_digits(a):
    return a.isalpha()


only_digits("454")

False

40. Convert a string to a list of characters.

In [10]:
def list_of_char(a):
    l=[]
    for i in a:
        l.append(i)
    print(l)

list_of_char("Convert a string to a list of characters")

['C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's']

41. Check if two strings are anagrams.

In [15]:
def sort_strings_(str1, str2):
    str1=str1.replace(" ","").lower()
    str2=str2.replace(" ","").lower()

    return sorted(str1) == sorted(str2)

sort_strings_("A decimal point", "Im a dot in place")

True

42. Encode a string using a Caesar cipher.

In [24]:
def ceasar_cipher(text, shift):
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        encoded_text += encoded_char 
    return encoded_text

ceasar_cipher("Hello, world!", 3)

'ehoor, zruog!'

43. Decode a Caesar cipher encoded string.

In [25]:
def ceasar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
        decoded_text += decoded_char 
    return decoded_text

ceasar_cipher_decoder('ehoor, zruog!', 3)

'bello, world!'

44. Find the most frequent word in a string.

In [26]:
import re
from collections import Counter
def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

most_frequent_word("Hello world, hello there! How's the world?")

'hello'

45. Find all unique words in a string.

In [27]:
import re
def unique_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words

unique_word("Hello world, hello there! How's the world?")

{'hello', 'hows', 'the', 'there', 'world'}

46. Count the number of syllables in a string.

In [28]:
import re
def count_syllables(word):
    vowels_group = re.findall(r'[aeiou]+', word, re.IGNORECASE)
    return len(vowels_group)

count_syllables("banana")

3

47. Check if a string contains any special characters.

In [29]:
import re
def spl_char(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

spl_char("Special@Characters")

True

48. Remove the nth word from a string.

In [30]:
def remove_nth_word(input_string, n):
    
    words = input_string.split()
    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

remove_nth_word("This is an example sentence to test the function.", 4)

('This is an sentence to test the function.', 'example')

49. Insert a word at the nth position in a string.

In [31]:
def insert_word_at_nth_position(sentence, word, n):
    words = sentence.split()
    words.insert(n, word)
    return ' '.join(words)


insert_word_at_nth_position("This is a sample sentence.", "new", 3)

'This is a new sample sentence.'

50. Convert a CSV string to a list of lists.

In [32]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

csv_string_to_list("Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK")

[['Name', ' Age', ' Country'],
 ['John', ' 25', ' USA'],
 ['Alice', ' 30', ' Canada'],
 ['Bob', ' 22', ' UK']]

List Based Practice Problem :

1 Create a list with integers from 1 to 10.

In [88]:
integer_list=[i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2 Find the length of a list without using the `len()` function.

In [93]:
def count_items(input_list):
    count=0
    for i in input_list:
        count+=1
    return count

In [94]:
count_items([10, 20, 30, 40, 50,58,586,655])

8

3 Append an element to the end of a list.

In [12]:
my_list=[1,2,3,4,5,7,8]
my_list.append(9)
print(my_list)

[1, 2, 3, 4, 5, 7, 8, 9]

4. Insert an element at a specific index in a list.

In [13]:
my_list4=[1,2,3,4,6,7,8]
my_list4.insert(4,5)
print(my_list4)

[1, 2, 3, 4, 5, 6, 7, 8]

5. Remove an element from a list by its value.

In [14]:
my_list5=[1,2,3,4,6,7,8]
my_list5.remove(4)
print(my_list5)

[1, 2, 3, 6, 7, 8]

6. Remove an element from a list by its index.

In [15]:
my_list6=[1,2,3,4,6,7,8]
my_list6.pop(4)
print(my_list6)

[1, 2, 3, 4, 7, 8]

7. Check if an element exists in a list.

In [101]:
def check_element(input_list, item):
    if item in input_list:
        print("The item is present in the input_list")
    else:
        print("The item is not present in the input_list")

In [102]:
check_element([1,2,3,4,6,7,8],77)

The item is not present in the input_list

8. Find the index of the first occurrence of an element in a list.

In [16]:
my_list8=[1,2,3,4,6,7,8]
index=my_list8.index(4)
print(index)

3

9. Count the occurrences of an element in a list.

In [17]:
my_list9=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
my_list9.count(6)

3

10. Reverse the order of elements in a list.

In [18]:
my_list10=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
my_list10[::-1]

[6, 9, 8, 1, 7, 5, 3, 9, 8, 4, 6, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [19]:
my_list11=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
my_list11.sort()
print(my_list11)

[1, 1, 1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7, 8, 8, 8, 9, 9, 9]

12. Sort a list in descending order.

In [20]:
my_list12=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
my_list12.sort()
my_list12[::-1]

[9, 9, 9, 8, 8, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 3, 3, 2, 1, 1, 1]

13. Create a list of even numbers from 1 to 20.

In [109]:
even_numbers=[]
for i in range(1,21):
    if i%2==0:
        even_numbers.append(i)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [110]:
odd_numbers=[]
for i in range(1,21):
    if i%2!=0:
        odd_numbers.append(i)
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [21]:
my_list15=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
total_sum=sum(my_list15)
print(total_sum)

112

16. Find the maximum value in a list.

In [22]:
my_list16=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
maximum_value=max(my_list15)
print(maximum_value)

9

17. Find the minimum value in a list.

In [23]:
my_list17=[1,2,3,4,5,6,7,8,9,1,6,4,8,9,3,5,7,1,8,9,6]
minimum_value=min(my_list17)
print(minimum_value)

1

18. Create a list of squares of numbers from 1 to 10.

In [112]:
square_no=[]
for i in range(1,11):
    a=i*i
    square_no.append(a)
print(square_no)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [113]:
import random
random_integers=[random.randint(1,100) for i in range(1,51)]
print(random_integers)

[23, 85, 70, 32, 100, 87, 10, 7, 42, 59, 80, 66, 65, 52, 50, 59, 77, 7, 9, 67, 3, 87, 93, 13, 28, 78, 76, 75, 13, 16, 55, 70, 70, 22, 68, 11, 71, 85, 13, 49, 20, 48, 63, 14, 66, 38, 71, 6, 20, 28]

20. Remove duplicates from a list.

In [116]:
my_list=[23, 85, 70, 32, 100, 87, 10, 7, 42, 59, 80, 66, 65, 52, 50, 59, 77, 7, 9, 67, 3, 87, 93, 13, 28, 78, 76, 75, 13, 16, 55, 70, 70, 22, 68, 11, 71, 85, 13, 49, 20, 48, 63, 14, 66, 38, 71, 6, 20, 28]
unq_list=list(set(my_list))
print(unq_list)

[3, 6, 7, 9, 10, 11, 13, 14, 16, 20, 22, 23, 28, 32, 38, 42, 48, 49, 50, 52, 55, 59, 63, 65, 66, 67, 68, 70, 71, 75, 76, 77, 78, 80, 85, 87, 93, 100]

21. Find the common elements between two lists.

In [120]:
list1=[3, 4, 5, 6, 7]
list2=[1, 2, 3, 4, 5]
common_e=[]
for l in list1:
    if l in list2:
        common_e.append(l)
print(common_e)

[3, 4, 5]

22. Find the difference between two lists.

In [126]:
list1=[3, 4, 5, 6, 7]
list2=[1, 2, 3, 4, 5]
diff=list(set(list1).difference(list2))
print(diff)

[6, 7]

23. Merge two lists.

In [128]:
list1=[3, 4, 5, 6, 7]
list2=[1, 2, 3, 4, 5]
merge=list1+list2
print(merge)

[3, 4, 5, 6, 7, 1, 2, 3, 4, 5]

24. Multiply all elements in a list by 2.

In [130]:
list1=[3, 4, 5, 6, 7]
mul_list=[]
for t in list1:
    x=t*2
    mul_list.append(x)
print(mul_list)

[6, 8, 10, 12, 14]

25. Filter out all even numbers from a list.

In [132]:
list14=[3, 4, 5, 6, 7, 1, 2, 3, 4, 5]
even_no=[]
for e in list14:
    if e%2!=0:
        even_no.append(e)
print(even_no)

[3, 5, 7, 1, 3, 5]

26. Convert a list of strings to a list of integers.

In [136]:
string_list=["10", "20", "30", "40", "50"]
integer_list=[]
for s in string_list:
    i=int(s)
    integer_list.append(i)
print(integer_list)

[10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [139]:
integer_list=[10, 20, 30, 40, 50]
string_list=[]
for s in integer_list:
    i=str(s)
    string_list.append(i)
print(string_list)

['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [140]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened=[]
for n in nested_list:
    if isinstance(n,list):
        flattened.extend(n)
    else:
        flattened.append(n)
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [152]:
def gen_fib(n):
    fib_list=[0,1]
    for f in range(2,n):
        nf= fib_list[f-1] + fib_list[f-2]
        fib_list.append(nf)
    return fib_list

In [154]:
gen_fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [13]:
def asc_sorted_list(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i-1]:
            return True
    return False

In [14]:
asc_sorted_list([10, 20, 30, 40, 50])

False

31. Rotate a list to the left by `n` positions.

In [20]:
def rotate(lst,n):
    n=n%len(lst)
    rotated_list = lst[n:]+lst[:n]
    return rotated_list 
rotate([1, 2, 3, 4, 5, 6],2)

[3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by n positions.

In [24]:
def rotate_to_right(lst,n):
    n=n%len(lst)
    rotated = lst[-n:]+lst[:-n]
    return rotated

rotate_to_right([1, 2, 3, 4, 5, 6],2)

[5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [33]:
def is_prime(num):
    if num<=1:
        return False
    if num<=3:
        return True
    if num%2 ==0 or num%3==0:
        return False
    i=5
    while i*i<=num:
        if num%i==0 or num%(i+2) == 0:
            return False
        i+=6
    return True
prime_lst=[]
for i in range (0,51):
    if is_prime(i):
        prime_lst.append(i)

print(prime_lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n.

In [6]:
def split_in_chunks(lst,n):
    chunks=[]
    for i in range(0,len(lst),n):
        a = lst[i:i+n]
        chunks.append(a)
    return chunks


split_in_chunks([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],3)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list

In [7]:
def second_largest(lst):
    sorted_list= sorted(set(lst))
    if len(sorted_list)>=2:
        return sorted_list[-2]
    else:
        print("The list doesn't have sufficient numbers")

second_largest([10, 5, 20, 15, 30, 25])

25

36. Replace every element in a list with its square.

In [9]:
def replace_with_sq2(lst):
    empty=[]
    for i in lst:
        a=i*i
        empty.append(a)
    return empty

replace_with_sq2([2, 4, 6, 8, 10])

[4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [14]:
def convert_to_dict(lst):
    empty_dict={}
    for index, element in enumerate(lst):
        empty_dict[element]=index
    return empty_dict


convert_to_dict(['apple', 'banana', 'orange', 'grape'])

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [18]:
import random
def shuffle_random(lst):
    random.shuffle(lst)
    return lst

shuffle_random([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[9, 1, 4, 2, 7, 3, 10, 5, 8, 6]

39. Create a list of the first 10 factorial numbers

In [21]:
def factorial(n):
    if n==0 or n==1:
        return 1
    else: 
        return n*factorial(n-1)

lst=[]
for i in range(10):
    a=factorial(i)
    lst.append(a)

print(lst)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [22]:
def common_element(lst1, lst2):
    for i in lst1:
        if i in lst2:
            return True
    return False

if common_element([1, 2, 3, 4, 5], [4, 5, 6, 7, 8]):
    print("Has a common element")

else:
    print("doesn't have a common elemet")

Has a common element

41. Remove all elements from a list.

In [24]:
lst3=[5,6,8,25,8,9,654,84,64,54,48]
lst3.clear()
print(lst3)

[]

42. Replace negative numbers in a list with 0.

In [27]:
lst4= [10, -5, 20, -15, 30, -25]
for i in range(len(lst4)):
    if lst4[i]<0:
        lst4[i]=0
    
print(lst4)

[10, 0, 20, 0, 30, 0]

43. Convert a string into a list of words.

In [48]:
def convert_to_lst(input_string):
    list=input_string.split()
    return list



convert_to_lst("Hello, this is a sample sentence.")

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [32]:
def convert_to_string(input_list):
    string=' '.join(input_list)
    return string

convert_to_string(['Hello,', 'this', 'is', 'a', 'sample', 'sentence.'])

'Hello, this is a sample sentence.'

45. Create a list of the first n powers of 2.

In [35]:
def no_of_powers(n, p):
    lst=[]
    for i in range(p):
        o=n**i
        lst.append(o)

    return lst

no_of_powers(2,5)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [38]:
def longest_string(lst):
    longest=""
    for i in lst:
        if len(i)>len(longest):
            longest=i
    return longest

longest_string(["apple", "banana", "cherry", "date", "elderberry"])

'elderberry'

47. Find the shortest string in a list of strings.

In [42]:
def shortest_string(lst):
    shortest=lst[0]
    for i in lst:
        if len(i) < len(shortest):
            shortest=i
    return shortest

shortest_string(["apple", "banana", "cherry", "date", "elderberry"])

'date'

48. Create a list of the first n triangular numbers.

In [47]:
def triangular_numbers(n):
    lst=[]
    for i in range(1,n+1):
        numbers=i*(i+1)//2
        lst.append(numbers)
    return lst

triangular_numbers(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [73]:
def sub_of_lst(main_list, sub_list):
    sub_length = len(sub_list)
    for i in range((len(main_list)-sub_length)+1):
        if main_list[i:i+sub_length] == sub_list:
            return True
    return False

sub_of_lst([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [3, 4, 5])

True

50. Swap two elements in a list by their indices.

In [50]:
def swap_by_indices(lst, index1, index2):
    temp=lst[index1]
    lst[index1]=lst[index2]
    lst[index2]=temp
    return lst

swap_by_indices([1, 2, 3, 4, 5], 1, 3)

[1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [24]:
my_tuple=(1,2,3,4,5,6,7,8)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

2. Access the third element of a tuple.

In [25]:
my_tuple=(1,2,3,4,5,6,7,8)
my_tuple[2]

3

3. Find the length of a tuple without using the `len()` function.

In [51]:
def input_tuple(tup):
    count=0
    for i in tup:
        count += 1
    return count

input_tuple((10, 20, 30, 40, 50))

5

4. Count the occurrences of an element in a tuple.

In [52]:
def count_occurences(tup,n):
    count=0
    for i in tup:
        if i==n:
            count+=1
    return count

count_occurences((10, 20, 30, 20, 40, 50, 20), 20)

3

5. Find the index of the first occurrence of an element in a tuple.

In [2]:
def index_occurence(tup,element):
    if element in tup:
        index = tup.index(element)
        return index




index_occurence((10, 20, 30, 20, 40, 50), 20)

1

6. Check if an element exists in a tuple.

In [6]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_check = 20
if element_to_check in my_tuple:
    print("The element is present in Tuple")
else:
    print("The element is not present in the Tuple")

The element is present in Tuple

7. Convert a tuple to a list.

In [26]:
my_tuple=(1,2,3,4,5,6,7,8)
my_list=list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

8. Convert a list to a tuple.

In [27]:
my_list=[1,2,3,4,5,6,7,8]
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

9. Unpack the elements of a tuple into variables.

In [28]:
my_tuple=(1,2,3,4,5,6,7,8)
var1, var2, var3, var4, var5, var6, var7, var8=my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)
print("var5:", var5)
print("var6:", var6)
print("var7:", var7)
print("var8:", var8)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5
var6: 6
var7: 7
var8: 8

10. Create a tuple of even numbers from 1 to 10.

In [9]:

even_numbers = tuple(range(1,11,2))
   
print(even_numbers)

(1, 3, 5, 7, 9)

11. Create a tuple of odd numbers from 1 to 10.

In [12]:
odd_numbers = tuple(range(2,11,2))
print(odd_numbers)

(2, 4, 6, 8, 10)

12. Concatenate two tuples.

In [29]:
my_tuple=(1,2,3,4,5,6,7,8)
tuple=(9,10,11)
my_tuple + tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

13. Repeat a tuple three times.

In [30]:
tuple=(9,10,11)
tuple*3

(9, 10, 11, 9, 10, 11, 9, 10, 11)

14. Check if a tuple is empty.

In [13]:
empty_tuple = ()
non_empty_tuple = (9, 10, 11, 9, 10, 11, 9, 10, 11)

if not empty_tuple:
    print("The empty_tuple is empty")
else:
    print("The non_empty_tuple is not empty")

if not non_empty_tuple:
    print("The non_empty_tuple is empty")
else:
    print("The non_empty_tuple is not empty")

The empty_tuple is empty
The non_empty_tuple is not empty

15. Create a nested tuple.

In [31]:
nested_tuple=(1,2,3,4,(True, False),("Tuple"))
print(nested_tuple)

(1, 2, 3, 4, (True, False), 'Tuple')

16. Access the first element of a nested tuple.

In [32]:
nested_tuple=(1,2,3,4,(True, False),("Tuple"))
nested_tuple[0]

1

17. Create a tuple with a single element.

In [33]:
single_tuple=(2,)
print(single_tuple)

(2,)

18. Compare two tuples.

In [2]:
tuple1 = (5,8,3)
tuple2 = (7,9,2)

print("Are the two tuples equal", tuple1 == tuple2)
print("Are the two tuples unequal", tuple1 != tuple2)
print("Is tuple 1 greater than tuple2", tuple1 > tuple2)
print("Is tuple1 greater than or equal to tuple2", tuple1 >= tuple2)
print("Is tuple1 less than tuple2", tuple1 < tuple2)
print("Is tuple1 less than or equal to tuple2", tuple1 <= tuple2)

Are the two tuples equal False
Are the two tuples unequal True
Is tuple 1 greater than tuple2 False
Is tuple1 greater than or equal to tuple2 False
Is tuple1 less than tuple2 True
Is tuple1 less than or equal to tuple2 True

19. Delete a tuple.

In [3]:
tuple3 = (1,5,9,8,6,4)

del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

20. Slice a tuple.

In [4]:
tuple4 = (1,5,9,8,6,4)

sliced_tuple = tuple4[2:4]
print(sliced_tuple)

(9, 8)

21. Find the maximum value in a tuple.

In [5]:
tuple4 = (1,5,9,8,6,4)
max(tuple4)

9

22. Find the minimum value in a tuple.

In [6]:
tuple4 = (1,5,9,8,6,4)
min(tuple4)

1

23. Convert a string to a tuple of characters.

In [9]:
input_string = "Hello World"
print(tuple(input_string))

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

24. Convert a tuple of characters to a string.

In [11]:
mytuple = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')
my_tuple = ''.join(mytuple)
print(my_tuple)

Hello World

25. Create a tuple from multiple data types.

In [13]:
tuple5 = ("Hello", 564, 654.6874, False, 0, 1)
print(tuple5)

('Hello', 564, 654.6874, False, 0, 1)

26. Check if two tuples are identical.

In [15]:
def check_identical_tup(tuple1, tuple2):
    if tuple1 == tuple2:
        print("They are identical")
    else:
        print("They are not identical")

check_identical_tup((1, 2, 3), (1, 2, 3))
check_identical_tup((1, 2, 3), (4, 5, 6))

They are identical
They are not identical

27. Sort the elements of a tuple.

In [17]:
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print(sorted_tuple)

(1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [20]:
mytuple = (5, 2, 8, 1, 3)
my_tuple = tuple(map(str, mytuple)) 
print(my_tuple)

('5', '2', '8', '1', '3')

29. Convert a tuple of strings to a tuple of integers.

In [23]:
tuple_integer = tuple(map(int, my_tuple))
print(tuple_integer)

(5, 2, 8, 1, 3)

30. Merge two tuples.

In [24]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [29]:
def flattened_tuple(nested_tuple):
    flattened = []
    for i in nested_tuple:
        if isinstance(i, tuple):
            flattened.extend(flattened_tuple(i))
        else:
            flattened.append(i)
    return tuple(flattened)

flattened_tuple(((1, 2), (3, 4, 5), (6, (7, 8))))

(1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [36]:
prime=[]
for i in range(50):
    if is_prime(i):
        prime.append(i)

prime=prime[:5]

print(tuple(prime))

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [37]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is Palindrome", is_palindrome1)
print("non_palindrome_tuple is Palindrome", is_palindrome2)

palindrome_tuple is Palindrome True
non_palindrome_tuple is Palindrome False

34. Create a tuple of squares of numbers from 1 to 5.

In [39]:
def sqr_num(m):
    empty = []
    for i in range(1,m+1):
        a=i**2
        empty.append(a)
    return tuple(empty)

    
sqr_num(5)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [40]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(i for i in original_tuple if i%2 == 0)
print(filtered_tuple)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [41]:
tuple_36 = (2, 3, 5, 7, 11)
ans = tuple(i*2 for i in tuple_36)
print(ans)

(4, 6, 10, 14, 22)

37. Create a tuple of random numbers.

In [43]:
import random

random_tuple = tuple(random.randint(1, 50) for i in range(1, 10))

print(random_tuple)

(14, 33, 24, 12, 2, 18, 19, 9, 19)

38. Check if a tuple is sorted.

In [46]:
def check_sorted(tuple_38):
    if tuple_38 == sorted(tuple_38):
        print("The tuple is sorted")
    else:
        print("The tuple is not sorted")

check_sorted((14, 33, 24, 12, 2, 18, 19, 9, 19))

The tuple is not sorted

39. Rotate a tuple to the left by n positions.

In [48]:
def rotate_tuple(tup, n):
    n=n%len(tup)
    rotated_tuple = tup[n:]+tup[:n]
    return rotated_tuple

rotate_tuple((1, 2, 3, 4, 5), 3)

(4, 5, 1, 2, 3)

40. Rotate a tuple to the right by n positions.

In [50]:
def rotate_tuple_opp(tup, n):
    n=n%len(tup)
    rotated_tuple_opp = tup[-n:]+tup[:-n]
    return rotated_tuple_opp

rotate_tuple_opp((1, 2, 3, 4, 5), 3)

(3, 4, 5, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [52]:
def fib(n):
    fibonacci = [0,1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)

fib(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [53]:
input_str = input("Enter the ekemets separated by commas")
input_list = input_str.split(",")
print(tuple(input_list))

Enter the ekemets separated by commas 5,6,9,8,7,k,l,d,g,h

('5', '6', '9', '8', '7', 'k', 'l', 'd', 'g', 'h')

43. Swap two elements in a tuple.

In [71]:
def swap_ind_tuple(tup, ind1, ind2):
    lst=list(tup)
    temp = lst[ind1]
    lst[ind1] = lst[ind2]
    lst[ind2] = temp
    return tuple(lst)

swap_ind_tuple((1, 2, 3, 4, 5), 1, 3)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [54]:
my_tuple = (0, 1, 1, 2, 3)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(3, 2, 1, 1, 0)

45. Create a tuple of the first n powers of 2.

In [57]:
def powers_of_2(n):
    empty=[]
    for i in range(n):
        a=2**i
        empty.append(a)
    return tuple(empty)

powers_of_2(5)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [58]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
max(string_tuple)

'watermelon'

47. Find the shortest string in a tuple of strings.

In [61]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
min(string_tuple, key=len)

'kiwi'

48. Create a tuple of the first n triangular numbers.

In [62]:
def tringular(t):
    triangular_numbers = tuple((n)*(n+1)//2 for n in range(1,t))
    return triangular_numbers
tringular(5)

(1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence.

In [67]:
def subseq(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple)-sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

subseq((1, 2, 3, 4, 5, 6, 7, 8, 9), (3, 4, 5))

True

50. Create a tuple of alternating 1s and 0s of length n.

In [68]:
def alt_01(n):
    empty_list = []
    for i in range(n):
        a=i%2
        empty_list.append(a)
    return tuple(empty_list)

alt_01(9)

(0, 1, 0, 1, 0, 1, 0, 1, 0)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [34]:
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [37]:
my_set={1,2,3,4,5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
my_set={1,2,3,4,5}
my_set.remove(3)
print(my_set)

4. Check if an element exists in a set.

In [74]:
my_set={1,2,3,4,5}
if 3 in my_set:
    print("Element is present")
else:
    print("Element is not present")

Element is present

5. Find the length of a set without using the `len()` function.

In [75]:
my_set={1,2,3,4,5}
count=0
for i in my_set:
    count = count+1
print(count)

5

6. Clear all elements from a set.

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

7. Create a set of even numbers from 1 to 10.

In [82]:
empty_set=set()
for i in range(1,11):
    if i%2 == 0:
        empty_set.add(i)

print(empty_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [83]:
empty_set=set()
for i in range(1,11):
    if i%2 != 0:
        empty_set.add(i)

print(empty_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
my_set1={1,2,3,4}
my_set2={6,7,8,9}
union_set=my_set1.union(my_set2)
print(union_set)

10. Find the intersection of two sets.

In [ ]:
my_set1={1,2,3,4,5}
my_set2={5,6,7,8,9}
union_set=my_set1.intersection(my_set2)
print(union_set)

11. Find the difference between two sets.

In [ ]:
my_set1={1,2,3,4,5}
my_set2={5,6,7,8,9}
union_set=my_set1.difference(my_set2)
print(union_set)

12. Check if a set is a subset of another set.

In [ ]:
set1={7,8}
set2={5,6,7,8,9}
is_subset=set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

13. Check if a set is a superset of another set.

In [ ]:
set1={7,8,9,10}
set2={5,6,7,8,9}
is_superset=set2.issuperset(set1)
print("Is set2 a superset of set1:", is_superset)

14. Create a set from a list.

In [38]:
my_list=[1,2,6,4,8,9,6,9,6,9,]
my_set=set(my_list)
print(my_set)

{1, 2, 4, 6, 8, 9}

15. Convert a set to a list.

In [39]:
my_set={1,2,3,5,6,9,7}
my_list=list(my_set)
print(my_list)

[1, 2, 3, 5, 6, 7, 9]

16. Remove a random element from a set.

In [87]:
import random
my_set={1,2,3,5,6,9,7}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print(my_set)

{1, 2, 3, 6, 7, 9}

17. Pop an element from a set.

In [88]:
my_set={1,2,3,5,6,9,7}
my_set.pop()
print(my_set)

{2, 3, 5, 6, 7, 9}

18. Check if two sets have no elements in common.

In [94]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_element = set1.intersection(set2)

if not common_element:
    print("Set doesn't have a common element")
else:
    print("Set has a common element", common_element)

Set doesn't have a common element

19. Find the symmetric difference between two sets.

In [95]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1^set2
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [97]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [99]:
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print(prime_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [100]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("Identical")
else: 
    print("Unidentical")

Identical

23. Create a frozen set.

In [101]:
elements = [1, 2, 3, 4, 5]

fset = frozenset(elements)
fset

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [1]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
status = set1.isdisjoint(set2)
print("Are the sets disjoint:", status)

Are the sets disjoint: True

25. Create a set of squares of numbers from 1 to 5.

In [3]:
def sqr_set(n):
    square_set = set()
    for i in range(1,n+1):
        sqr = i**2
        square_set.add(sqr)
    return square_set

sqr_set(5)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [4]:
original_set = {1, 4, 9, 16, 25}
even_no_set = set()
for i in original_set:
    if i%2 == 0:
        even_no_set.add(i)

print(even_no_set)

{16, 4}

27. Multiply all elements in a set by 2.

In [5]:
original_set = {1, 4, 9, 16, 25}
multiplied_set = set()
for i in original_set:
    num = i*2
    multiplied_set.add(num)

print(multiplied_set)

{32, 2, 8, 18, 50}

28. Create a set of random numbers.

In [6]:
import random
random_no = 5
random_no_set = set()
for i in range(random_no):
    random_num = random.randint(1,100)
    random_no_set.add(random_num)

print(random_no_set)

{22, 56, 90, 60, 61}

29. Check if a set is empty.

In [8]:
my_set = set()
if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

30. Create a nested set (hint: use frozenset).

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [13]:
initial_set = {1, 2, 3, 4, 5}
initial_set.discard(5)
print(initial_set)

{1, 2, 3, 4}

32. Compare two sets.

In [2]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set1 is subset of set2: ", is_subset)
print("Set1 is supersetset of set2: ", is_superset)
print("Set1 is intersection of set2: ", intersection)
print("Set1 is union of set2: ", union)
print("Elements in set1 but not in set2: ", difference1)
print("Elements in set2 but not in set1 ", difference2)

Set1 is subset of set2:  False
Set1 is supersetset of set2:  False
Set1 is intersection of set2:  {4, 5}
Set1 is union of set2:  {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2:  {1, 2, 3}
Elements in set2 but not in set1  {8, 6, 7}

33. Create a set from a string.

In [23]:
string = "Hello World"
string_set = set(str)
print(string_set)

{'W', ' ', 'd', 'o', 'H', 'l', 'r', 'e'}

34. Convert a set of strings to a set of integers.

In [17]:
string_set = {"123", "456", "789"}
integer_set = set()
for i in string_set:
    integer_value = int(i)
    integer_set.add(integer_value)
print(integer_set)

{456, 123, 789}

35. Convert a set of integers to a set of strings.

In [1]:
integer_set = {123, 456, 789}
string_set = set()
for i in integer_set:
    string_value =str(i)
    string_set.add(string_value)
print(string_set)

{'789', '456', '123'}

36. Create a set from a tuple.

In [2]:
original_tuple = (1, 2, 3, 2, 4, 5, 1)
my_set = set()
for i in original_tuple:
    my_set.add(i)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [3]:
my_set = {1, 2, 3, 4, 5}
output_tuple = tuple(my_set)
print(output_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [5]:
my_set = {15, 7, 22, 13, 8}
max(my_set)

22

39. Find the minimum value in a set.

In [6]:
my_set = {15, 7, 22, 13, 8}
min(my_set)

7

40. Create a set from user input.

In [3]:
user_set = set()
print("Enter elements of the set(type 'done' when finish)")
while True:
    user_input = input(">")
    if user_input == "done":
        break
    user_set.add(user_input)

print(user_set)

Enter elements of the set(type 'done' when finish)

> Hello
> How are you
> done

{'Hello', 'How are you'}

41. Check if the intersection of two sets is empty.

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
if not intersection:
    print("The set is empty")
else:
    print("The set is not empty")

The set is not empty

42. Create a set of the first 5 Fibonacci numbers.

In [12]:
fib_set = [0,1]
count = 2
while count <= 5:
    new_num = fib_set[-1] + fib_set[-2]
    fib_set.append(new_num)
    count = count + 1

print(set(fib_set))

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [8]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
print(unique_set)

{2, 4, 6, 8, 10, 12, 14}

44. Check if two sets have the same elements, regardless of their count.

In [4]:
def same_element(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    if sorted_list1 == sorted_list2:
        print("They have same elements")
    else:
        print("They don't have same elements")

same_element({1, 2, 3, 2, 1}, {3, 1, 2})

They have same elements

45. Create a set of the first n powers of 2.

In [7]:
def set_powers_of(n, t):
    powers_of_2 = set()
    for i in range(n):
        power = t**i
        powers_of_2.add(power)
    return  powers_of_2

set_powers_of(5, 2)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [9]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for i in my_set:
    if i in list_to_set:
        common_elements.append(i)
print(common_elements)

[7, 9, 12]

47. Create a set of the first n triangular numbers.

In [15]:
def set_tri_nos(n):
    tri_set = set()
    for i in range(1, n+1):
        no = i*(i+1)//2
        tri_set.add(no)
    return tri_set

set_tri_nos(5)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [16]:
set2 = {1, 2, 3, 4, 5}
set1 = {3, 4}
is_subset = set1.issubset(set2)
if is_subset:
    print("Set1 is a subset of set2")
else:
    print("Set1 is not a subset of set2")

Set1 is a subset of set2

49. Create a set of alternating 1s and 0s of length n.

In [17]:
def alernating_set(n):
    alternating_set = set()
    for i in range(n):
        if i%2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)

    return alternating_set

alernating_set(21)

{0, 1}

50. Merge multiple sets into one.

In [18]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}